@charset "UTF-8";
body {
	background:#f1f1f1;
	margin: 0;
	padding: 0;
	font-family: roboto;
	
  }
.container-fixed {
	max-width: 970px;
	background-color: #ecf0f1;
	margin: auto;
	font-family: roboto;
}
.coy{
	text-align: left;
	font-size: large;
	color: white;
	margin-inline-start: 40px;
}

p{
	text-align: center;
	font-size: x-large;
	margin-bottom: 5px;
	margin-top: 5px;
	width: 100%;
	color: grey;
}
.setting{
	width: 50px;
	height: 50px;
	margin-inline-start: 40px;
}
header{
	background-color: #2c3e50;
	width:100%;
	height: 80px;
	margin-bottom: 5px;
	font-size: large;
	color: white;
}
.footer{
	text-align: center;
	height: 50px;
	background-color: #bdc3c7;
	margin-top: 2px;
	color: #2c3e50;
	font-size: small;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.smiley{
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	text-align: center;
	background-color: #bdc3c7;
	width:100%;
	height: 500px;
	margin-top: 2px;
}
.smiley figure{
	display: inline-block;
	margin-top: 50px;
	color: #2c3e50;
}
.smiley figure input{
	height: 35px;
	width: 35px;
}
canvas #mychart{
	width:10px;
	height: 50px;
}